/* L SIZE */
@media screen and (min-width: 1280px){
    *{
        padding : 0px;
        margin : 0px;
    }
    
    body {
        background-image : url("image/background.jpg");
    }
    
    /* top */
    .top{
        display: flex;
        justify-content: space-between;
        padding: 0% 1.5625%;
    }
    
    /* top home */
    .top .home i{
        font-size : 80px;
        vertical-align: middle;
    }
    
    /*top account*/
    .account{
        display: inline-flex;
        margin: 2% 0.8% 1.6% 0%;
    }
    
    i, p{
        color: white;
    }
    
    .account i{
        font-size : 32px;
        vertical-align: middle;
        margin-right : 5px;
    }
    .account a{
        text-decoration: none;
    }
    
    .account p{
        font-size : 13px;
        font-weight : bold;
    }
    
    .sign_in {
        margin-right : 24px;
    }
    
    /*menu*/
    .menu{
        display: flex;
        justify-content: center;
        background-color : rgba(0,0,0, 0.75);
        width : 100%;
        height: 65px;
    }
    
    .menu_btns{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }
    
    .menu_btns a{
        width: 100%;
        color: white;
        text-decoration: none;
    }
    
    .menu_btns1{
        width: 50%;
    }
    
    .menu_btns2{
        width: 30%;
    }
    
    .menu li{
        width: 150px;
        height: auto;
        list-style-type:none;
        font-size:24px;
        font-weight: bold;
        text-align: center;
        padding:20px 0px;
    }
    .menu li:hover{
        background-color: gray;
    }
    /* main content */
    .maincontent{
        display: flex;
    }
    .maincontent_menu{
        min-height: 700px;
        display: block;
        width: 80%;
    }
    .main_content_h{
        display: flex;
        padding-left: 14%;
    }
    .main_content{
        display: flex;
        width: 46%;
        height: 240px;
        margin:25px 0px 0px 2.5%;
        border-radius: 20px;
        background: rgba(0, 0, 0, 0.45);
    }
    .main_content_picture{
        margin: 25px 0px 0px 7%;
        width: 45%;
        height: 80%;
        background: red;
    }
    .main_content_text_h{
        width: 36%;
        display: block;
    }
    .main_content_text{
        margin: 25px 0px 0px 15%;
        width: 100%;
        height: 140px;
        background: blue;
    }
    .main_content_text_h a{
        margin-top: 15px;
        margin-left:50%;
        height: 15px;
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    .maincontent_save{
        width: 15%;
        height: 1070px;
        margin-top: 25px;
        background: red;
    }
    /* footer */
    footer{
        background-color : rgba(0,0,0, 0.75);
        width : 100%;
        height: 60px;
        margin-top: 100px;
    }
    
    .bottom{
        display: flex;
        justify-content: space-around;
        font-size: 18px;
        padding: 15px;
    }
    
    .bottom p{
        width: 500px;
        text-align: center;
    }
    
}

/* M SIZE */
@media screen  and (min-width: 321px) and (max-width: 768px){
    
    
}

/* S SIZE */
@media screen  and (min-width: 0) and (max-width: 321px){
    
    
}
