/* L SIZE */

@media screen and (min-width: 1280px) {
    * {
        padding: 0px;
        margin: 0px;
    }
    body {
        background-image: url("image/background.jpg");
    }
    /* top */
    .top {
        display: flex;
        justify-content: space-between;
        padding: 0% 1.5625%;
    }
    /* top home */
    .top .home i {
        font-size: 80px;
        vertical-align: middle;
    }
    /*top account*/
    .account {
        display: inline-flex;
        margin: 2% 0.8% 1.6% 0%;
    }
    i, p {
        color: white;
    }
    .account i {
        font-size: 32px;
        vertical-align: middle;
        margin-right: 5px;
    }
    .account a {
        text-decoration: none;
    }
    .account p {
        font-size: 13px;
        font-weight: bold;
    }
    .sign_in {
        margin-right: 24px;
    }
    /*menu*/
    .menu {
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.75);
        width: 100%;
        height: 65px;
    }
    .menu_btns {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }
    .menu_btns a {
        width: 100%;
        color: white;
        text-decoration: none;
    }
    .menu_btns1 {
        width: 50%;
    }
    .menu_btns2 {
        width: 30%;
    }
    .menu li {
        width: 150px;
        height: auto;
        list-style-type: none;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        padding: 20px 0px;
    }
    .menu li:hover {
        background-color: gray;
    }
    /* main content */
    .maincontent {
    }
    .top_photo{
        margin-top: 25px;
        height: 600px;
        width: 100%;
        background: red;
    }

    .top_photo {
        width: 100%;
        height: 600px;
        position: relative;
    }
    .top_photo span{
        display: none;
    }
    .top_photo div {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-animation: round 25s linear infinite;
        animation: round 25s linear infinite;
    }
    @-webkit-keyframes round {
        4% {
            opacity: 1;
            filter: alpha(opacity=100);
            /* 0 - 1秒 淡入*/
        }
        20% {
            opacity: 1;
            filter: alpha(opacity=100);
            /* 1- 5秒靜止*/
        }
        24% {
            opacity: 0;
            filter: alpha(opacity=0);
            /* 5-6秒淡出*/
        }
    }
    @keyframes round {
        4% {
            opacity: 1;
            filter: alpha(opacity=100);
            /* 0 - 1秒 淡入*/
        }
        20% {
            opacity: 1;
            filter: alpha(opacity=100);
            /* 1- 5秒靜止*/
        }
        24% {
            opacity: 0;
            filter: alpha(opacity=0);
            /* 5-6秒淡出*/
        }
    }
    .top_photo div:nth-child(5) {
        -webkit-animation-delay: 0s;
                animation-delay: 0s;
    }
    
    .top_photo div:nth-child(4) {
        -webkit-animation-delay: 5s;
                animation-delay: 5s;
    }
    
    .top_photo div:nth-child(3) {
        -webkit-animation-delay: 10s;
                animation-delay: 10s;
    }
    .top_photo div:nth-child(2) {
        -webkit-animation-delay: 15s;
                animation-delay: 15s;
    }
    
    .top_photo div:nth-child(1) {
        -webkit-animation-delay: 20s;
                animation-delay: 20s;
    }

    .top_buttom {
        margin-top: 40px;
        width: 100%;
        height: 400px;
        
    }
    .top_buttom a{
        margin-left: 4.8%;
        width: 27%;
        height: 400px;
        float: left;
        text-decoration:none;
    }
    .top_buttom_in{
        width: 100%;
        height: 400px;
        float:none;
    }
    .top_buttom_text{
        width: 100%;
        height: 120px;
        padding-top: 20px;
        background: rgb(175, 0, 8);
        border-top-left-radius:10px;
        border-top-right-radius:10px;
        
    }
    .top_buttom_text p{
        margin-left: 10%;
        height: 90%;
        width: 80%;
        font-size: 40px;
        background: rgb(115,0,4);
        justify-content: center;
        color: white;
        text-align:center;
        line-height:110px;
        border-radius:10px;
       
    }
    .top_buttom_photo{
        width: 100%;
        height: 280px;
        background: rgb(175, 0, 8);
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
    }
    .top_buttom_photo img{
        margin-top: 25px;
        margin-left: 35px;
        width: 80%;
        height: 220px;
        border-radius:5px;
    }
    /* footer */
    footer {
        background-color: rgba(0, 0, 0, 0.75);
        width: 100%;
        height: 60px;
        margin-top: 60px;
    }
    .bottom {
        display: flex;
        justify-content: space-around;
        font-size: 18px;
        padding: 15px;
    }
    .bottom p {
        width: 500px;
        text-align: center;
    }
}

/* M SIZE */

@media screen and (min-width: 768px) and (max-width: 1280px) {}

/* S SIZE */

@media screen and (min-width: 0) and (max-width: 768px) {
    * {
        padding: 0px;
        margin: 0px;
    }
    html {
        min-width: 320px;
    }
    body {
        background-image: url("image/background.jpg");
    }
    /* top */
    .top {
        display: flex;
        padding: 0px 20px;
        text-align: center;
    }
    /* top home */
    .top .home i {
        font-size: 80px;
        vertical-align: middle;
    }
    /*top account*/
    .account {
        display: flex;
        margin: 20px 10px 20px 0px;
    }
    i, p {
        color: white;
    }
    .account i {
        font-size: 20px;
        vertical-align: middle;
        margin-right: 5px;
    }
    .account a {
        text-decoration: none;
    }
    .account p {
        font-size: 8px;
        font-weight: bold;
        margin-top: 10px;
        margin-left: 10px;
    }
    .sign_in {
        margin-right: 24px;
    }
    /* menu */
    .menu_btns {
        /*隱藏選單開始*/
        max-height: 0;
        overflow: hidden;
        /*隱藏選單結束*/
        /*漸變效果*/
        transition: max-height 0.5s;
        margin-top: 1px;
        /*絕對定位疊在網頁上*/
        position: absolute;
        /*權重*/
        z-index: 100;
        /*header 80px+1px boder 線條*/
        top: 136px;
        /* left:0 right:0表示滿版 */
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.75);
    }
    .menu_btns li {
        float: none;
        border-bottom: 1px solid white;
        height: 50px;
        text-align: center;
    }
    .menu_btns li a {
        display: block;
        height: 100%;
        transition: all 1.0s;
        text-decoration: none;
        color: white;
        font-size: 30px;
        font-weight: bold;
    }
    .menu_btns li a:hover {
        background: gray;
    }
    .showmenubar {
        width: 100%;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.75);
        
        border-bottom: 1px solid white;
    }
    .showmenu {
        display: block;
        float: right;
        margin: 10px;
    }
    .showmenu i {
        font-size: 30px;
    }
    /*jQuery點擊後動態在 body 加上 class */
    .menu-show .menu_btns {
        max-height: 500px;
    }
    .menu_btns2 {
        display: none;
    }
    /* maincontent */
    .maincontent {
        min-height: 700px;
    }
    /* footer */
    footer {
        display: none;
    }
}